@import url('https://fonts.googleapis.com/css2?family=Pacifico&family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=DM+Serif+Display:ital@0;1&family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Style+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Calistoga&display=swap');
@import "tailwindcss";

@theme {
  --font-display: "Oswald", "sans-serif";
  --font-pacifico: "Pacifico", "sans-serif";
  --font-inter: "Inter", "sans-serif";
  --font-dmserif: "DmSerif", "san-serif";
  --font-stylescript: "Style Script", "sans-serif";
  --font-calistoga: "Calistoga", "sans-serif";
}